@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.App {
  text-align: center;
}

body {
  background: #ffe5c5;
}

#header {
  font-family: 'Satisfy', cursive;
  font-size: 60px;
  color: darkred;
  margin-top: 30px;
}

#navbar {
  text-align: center;
  width: 30%;
  border-top: 1px solid brown;
  border-bottom: 1px solid brown;
}

#navbar a {
  color: darkred;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Abril Fatface', cursive;
}

.trip_form {
  color: maroon;
  font-family: 'Abril Fatface', cursive;
}

#tripform {
  display:flex;
	justify-content: center;
}

#tripform form {
  width: 40%;
}

#tripform form input {
  background: transparent;
  border: 1px solid brown;
}

.btn {
  background-color: transparent;
  border: 1px solid brown;
  color: darkred;
  font-family: 'Abril Fatface', cursive;
}

#tripbody {
  justify-content: center;
  text-align: center;
}

#tripcard {
  display:inline-block;
	justify-content: center;
  width: 50%;
  
}

#tripcard .card {
  background: transparent;
  border:none;
  font-family: 'Abril Fatface', cursive;
  font-weight: lighter;
}

#tripcard .card :hover {
  background: rgb(255,229,197);
background: linear-gradient(90deg, rgba(255,229,197,1) 0%, rgba(179,27,1,0.3925945378151261) 50%, rgba(255,229,197,1) 100%);
  color: white;
}

#tripcard a {
  text-decoration: none;
  color: darkred;
}

#daycard {
  display:flex;
	justify-content: center;
}

#daycard .card {
  background: transparent;
  border:none;
  font-family: 'Abril Fatface', cursive;
  font-weight: lighter;
}

#daycard .card .card-header {
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=8B0000);
        margin: -2px -6px;
        padding:  2px  6px;
  color: white;
  border: none;
}

#tripDetail {
display: inline;
}

#addActivityBtn {
  border: none;
  background: transparent;

}

#activityform {
  display:flex;
	justify-content: center;
}
#activityform form {
  width: 80%;
}

#activityform form input {
  background: transparent;
  border: 1px solid brown;
}
