@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.App {
  text-align: center;
}

body {
  background: bisque;
}

#header {
  font-family: 'Satisfy', cursive;
  font-size: 60px;
  color: darkred;
  margin-top: 30px;
}

#navbar {
  text-align: center;
  width: 30%;
  border-top: 1px solid brown;
  border-bottom: 1px solid brown;
}

#navbar a {
  color: darkred;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Abril Fatface', cursive;
}

.trip_form {
  color: maroon;
  font-family: 'Abril Fatface', cursive;
}

#tripform {
  display:flex;
	justify-content: center;
}

#tripform form {
  width: 40%;
}

#tripform form input {
  background: transparent;
  border: 1px solid brown;
}

.btn {
  background-color: transparent;
  border: 1px solid brown;
  color: darkred;
  font-family: 'Abril Fatface', cursive;
}